
/* universal rules */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: Seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* header section */
.header {
  display: flex;
  height: 69px;
  position: fixed;
  background-color: black;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 2;
}

.logo img {
  height: 50px;
  width: auto;
  margin-left: 10px;
  justify-content: left;
}

nav span {
  text-decoration: underline;
  background-color: black;
  padding: 0 10px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* content section */

.content {
  display: flex;
  flex-direction: column;
  top: 69px;
  justify-content: center;
}

.mission {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  background-repeat: no-repeat;
  width: 1200px;
  justify-content: center;
  align-self: center;
}

.mission-title {
  z-index: 1;
  background-color: black;
}

.featured-tea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div .featured {
  text-align: center;
  background-color: black;
  width: 1000px;
}

.varieties {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  width: 300px;
  padding: 10px;
  margin: 5px;
}
.blitz, .rum, .donut, .myrtle, .bizarre {
  display: flex;
  flex-direction: column;
}

.locations {
  display: flex;
  flex-direction: column;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 50px;
}

.locations h2 {
  margin: 0;
}

.locs {
  display: flex;
}

.downtown, .bayside, .oakdale {
  background-color: black;
  margin: 15px 20px;
  width: 300px;
  opacity: 1;
}

.locs h4 {
  font-weight: normal;
}

.contact {
  height: 200px;
}

/* footer section */

footer {
  text-align: left;
  margin-left: 20px;
}
